.admin-title {
  font-size: 32px; }

.top {
  float: right; }

.Orders-container {
  width: 90%;
  height: 400px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .Orders-container .Orders {
    width: 50%;
    height: 100%;
    float: right; }
    .Orders-container .Orders .order-title {
      width: 100%;
      height: 10%;
      font-size: 24px; }
    .Orders-container .Orders .table {
      width: 100%;
      height: 10%;
      border: 1px solid black;
      border-bottom: none; }
    .Orders-container .Orders .orders {
      width: 100%;
      height: 52%;
      border: 1px solid black;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      border-bottom: none; }
    .Orders-container .Orders .btn-totalbox {
      width: 100%;
      height: 15%;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .Orders-container .Orders .btn-totalbox .btn {
        width: 25%;
        height: 50%; }

.cart-title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 25px;
  letter-spacing: 3px; }

.cart-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  letter-spacing: 2px; }
  .cart-container .cart-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    height: 50px;
    width: 90%; }
    .cart-container .cart-titles .Product {
      width: 45%;
      height: 100%; }
    .cart-container .cart-titles .Price {
      width: 15%;
      height: 100%; }
    .cart-container .cart-titles .Quantity {
      width: 15%;
      height: 100%; }
    .cart-container .cart-titles .Total {
      width: 15%;
      height: 100%; }
  .cart-container .cart-item {
    width: 90%;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .cart-container .cart-item .cart-delete {
      width: 2%;
      height: 100px;
      border: 1px solid green; }
    .cart-container .cart-item .cart-img-box {
      width: 18%;
      height: 100px;
      border: 1px solid green; }
    .cart-container .cart-item .cart-product {
      width: 31%;
      height: 100px;
      border: 1px solid green; }
    .cart-container .cart-item .cart-price {
      width: 17%;
      height: 100px;
      border: 1px solid green; }
    .cart-container .cart-item .cart-quantity {
      width: 17%;
      height: 100px;
      border: 1px solid green; }
    .cart-container .cart-item .cart-total {
      width: 17%;
      height: 100px;
      border: 1px solid green; }
  .cart-container .cart-coupon {
    width: 90%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; }
    .cart-container .cart-coupon .coupon-code {
      height: 65%;
      width: 20%;
      margin-left: 10px;
      font-size: 18px;
      letter-spacing: 1px;
      outline: none; }
    .cart-container .cart-coupon .apply-coupon {
      margin-left: 20px;
      height: 65%;
      width: 10%;
      background-color: white;
      border: 1px solid #6da196;
      font-size: 12px;
      letter-spacing: 2px;
      color: #6da196;
      outline: none; }
  .cart-container .Totals-container {
    width: 90%;
    height: 400px; }
    .cart-container .Totals-container .TOTALS {
      width: 50%;
      height: 100%;
      float: right; }
      .cart-container .Totals-container .TOTALS .cart-total-title {
        width: 100%;
        height: 10%;
        font-size: 24px; }
      .cart-container .Totals-container .TOTALS .subtotal {
        width: 100%;
        height: 10%;
        border: 1px solid black;
        border-bottom: none; }
      .cart-container .Totals-container .TOTALS .receipt {
        width: 100%;
        height: 52%;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: stretch;
        border-bottom: none; }
      .cart-container .Totals-container .TOTALS .total {
        width: 100%;
        height: 10%;
        border: 1px solid black;
        border-bottom: none; }
      .cart-container .Totals-container .TOTALS .btn-totalbox {
        width: 100%;
        height: 15%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .cart-container .Totals-container .TOTALS .btn-totalbox .stripe-btn {
          width: 25%;
          height: 50%; }

.empty-space {
  width: 100%;
  height: 50px; }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch; }

.Link {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  letter-spacing: 2px;
  border-radius: 70px; }

.Link:hover {
  background-color: rgba(90, 88, 88, 0.747);
  color: white;
  font-weight: bold; }

.footer-container {
  width: 100%;
  height: 100px;
  background-color: tan; }

body {
  margin: 0; }

.HomePage-container {
  width: 100%;
  height: 100vh;
  background-image: url("https://i.imgur.com/gmaqcSX.jpg");
  background-size: cover; }

.Login {
  float: right; }

.HomePage {
  width: 100%;
  height: auto; }

.menu-access {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; }

.home-title {
  font-size: 100px;
  color: white;
  letter-spacing: 7px; }

.chooseTable {
  color: white;
  font-size: 24px;
  line-height: 40px;
  margin-top: 50px; }

.tableInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.home-input {
  margin: 10px; }

.Wrap-Menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100vh; }

.dessert111 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  font-size: 55px; }
  .dessert111 .dessert1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url("https://i.imgur.com/s2fvVxc.jpg");
    background-size: cover;
    margin: 10px; }
  .dessert111 .dessert2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url("https://imgur.com/ksN47Xd.jpg");
    background-size: cover;
    margin: 10px; }
  .dessert111 .dessert3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url("https://i.imgur.com/d7wVdrD.jpg?1");
    background-size: cover;
    margin: 10px; }
  .dessert111 .dessert4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url("https://imgur.com/ujnuFvf.jpg");
    background-size: cover;
    margin: 10px; }
  .dessert111 .dessert5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url("https://imgur.com/QPKquke.jpg");
    background-size: cover;
    margin: 10px; }

.title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  letter-spacing: 5px; }

.Nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.nav-container {
  width: 70%;
  height: 40%;
  border: 1px solid #0e0d0d;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .nav-container .drinks {
    width: 20%;
    height: 100%;
    border: 1px solid #6f6f70;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }

.food-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1em;
  justify-content: stretch;
  align-items: stretch;
  width: 100%; }
  .food-container .food-together {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-content: stretch;
    align-items: stretch;
    width: 100%; }

.food-img {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  justify-content: stretch;
  align-items: stretch; }

.food-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; }
  .food-info .food-title {
    font-size: 24px;
    width: 100%;
    height: 50%;
    padding: 35px 20px 20px 20px;
    box-sizing: border-box; }
  .food-info .food-desc {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    overflow: scroll; }
  .food-info .food-to-cart {
    width: 100%;
    height: 20%;
    padding: 3px;
    box-sizing: border-box;
    padding-bottom: 20px; }
  .food-info .btn-cart {
    width: 20%;
    height: 80%;
    outline: none; }

.foods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1em;
  justify-content: stretch;
  align-items: stretch;
  width: 100%; }
  .foods .box {
    width: 100%;
    height: 100px;
    border: 1px solid blue; }

.space {
  padding: 20px; }
