.admin-title {
    font-size: 32px;
}

.top {
    float: right;
}

.Orders-container {
    border: 1px solid yellow;
    width: 30%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-content: stretch;
    align-items: stretch;

    @include flexSetUp(center,center);
    
    .Orders {
        border: 1px solid blue;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        .order-title {
            width: 100%;
            height: 10%;
            font-size: 24px;   
        }
        
        .table {
            width: 100%;
            height: 10%;
            border: 1px solid red;
            border-bottom: none;
            
        }

        .orders {
            width: 100%;
            height: 42%;
            overflow: scroll;
            border: 1px solid green;
            border-bottom: none;
            text-align: left;
        }

        .btn-totalbox {
            width: 100%;
            height: 15%;
            border: 1px solid black;
            @include flexSetUp(center, center);
            .btn {
                width: 25%;
                height: 50%;
            }
        }     
    }
}