.food-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 37vh;
    .food-together {
        display: grid;
        border: 1px solid black;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        justify-content: stretch;
        align-items: stretch;
        width: 100%;
    }
}

.food-img {
    background-image: url("https://imgur.com/4iaDrJd.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.food-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; 
    .food-title {
        font-size: 30px;
        width: 100%;
        height: 50%;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .food-desc {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .food-to-cart {
        width: 100%;
        height: 50%;
        padding: 10px;
        box-sizing: border-box;
    }
    .btn-cart {
        width: 30%;
        height: 100%;
        outline: none;
    }
}

