
.Wrap-Menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    position: absolute;
}


.menu-top {
    width: 100%;
    height: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.dessert111 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 75vh;
    font-size: 55px;
    position: absolute;

    .dessert1 {
        @include flexSetUp(center, flex-end);
        background-image: url('https://i.imgur.com/s2fvVxc.jpg');
        background-size: cover;
        margin: 7px;
    }

    .dessert2 {
        @include flexSetUp(center, flex-end);
        background-image: url('https://imgur.com/ksN47Xd.jpg');
        background-size: cover;
        margin: 7px;
    }

    .dessert3 {
        @include flexSetUp(center, flex-end);
        background-image: url('https://i.imgur.com/d7wVdrD.jpg?1');
        background-size: cover;
        margin: 7px;
    }
    .dessert4 {
        @include flexSetUp(center, flex-end);
        background-image: url('https://imgur.com/ujnuFvf.jpg');
        background-size: cover;
        margin: 7px;
    }
    .dessert5 {
        @include flexSetUp(center, flex-end);
        background-image: url('https://imgur.com/QPKquke.jpg');
        background-size: cover;
        margin: 7px;
    }
    
}
.dessert1111 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 75vh;
    font-size: 55px;
    position: absolute;

    .dessert11 {
        @include flexSetUp(center, flex-end);
        background-size: cover;
        margin: 7px;
        background-color:rgba(7, 7, 7, 0.397);
        opacity: 1;
    }

    .dessert21 {
        @include flexSetUp(center, flex-end);
        background-size: cover;
        margin: 7px;
        background-color:rgba(7, 7, 7, 0.397);
        opacity: 1;
    }
    .dessert31 {
        @include flexSetUp(center, flex-end);
        background-size: cover;
        margin: 7px;
        background-color:rgba(7, 7, 7, 0.397);
        opacity: 1;
    }
    .dessert41 {
        @include flexSetUp(center, flex-end);
        background-size: cover;
        margin: 7px;
        background-color:rgba(7, 7, 7, 0.397);
        opacity: 1;
    }
    .dessert51 {
        @include flexSetUp(center, flex-end);
        background-size: cover;
        margin: 7px;
        background-color:rgba(7, 7, 7, 0.397);
        opacity: 1;
    }
    
}

    .dessert11:hover {
        opacity: 0;
    }
    .dessert21:hover {
        opacity: 0;
    }
    .dessert31:hover {
        opacity: 0;
    }
    .dessert41:hover {
        opacity: 0;
    }
    .dessert51:hover {
        opacity: 0;
    }


.top2 {
height: 80%;
margin-bottom: 580px;
}

.top {
    font-size: 42px;
    height: 20%;
}

.dev {
    margin: 15px;
    font-family: 'Lobster', sans-serif;
    margin-left: 25px;
}

.fork {
    @include flexSetUp(center,center, row);
}

.Link-menu {
    text-decoration: none;
    color: rgb(223, 222, 222);
    text-shadow: 2px 2px #2b2c2f;
    width: 100%;
    height: 100%;
    @include flexSetUp(center,flex-end);
}
