.menu-page {
    background-color: rgba(0, 0, 0, 0.89);
    width: 100%;
    height: 100vh;
}

.Wrap-Menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height:auto;
    background-color: rgba(128, 128, 128, 0.568);
    color: rgb(224, 224, 224);
}

.top-border {
    margin: 10px 8px 0px 8px;
    border: 1px solid rgba(255, 255, 255, 0.555);
}

.top-border2 {
    margin: 10px 8px 10px 8px;
    border: 1px solid black;
}

.dessert111 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 75vh;
    font-size: 55px;
    position: absolute;

    .dessert1 {
        @include flexSetUp(center, flex-end);
        background-image: url('https://i.imgur.com/s2fvVxc.jpg');
        background-size: cover;
        margin: 7px;    
    }

    .dessert2 {
        @include flexSetUp(center, flex-end);
        background-image: url('https://imgur.com/ksN47Xd.jpg');
        background-size: cover;
        margin: 7px;
    }

    .dessert3 {
        @include flexSetUp(center, flex-end);
        background-image: url('https://i.imgur.com/d7wVdrD.jpg');
        background-size: cover;
        margin: 7px;
    }
    .dessert4 {
        @include flexSetUp(center, flex-end);
        background-image: url('https://imgur.com/ujnuFvf.jpg');
        background-size: cover;
        margin: 7px;
    }
    .dessert5 {
        @include flexSetUp(center, flex-end);
        background-image: url('https://imgur.com/QPKquke.jpg');
        background-size: cover;
        margin: 7px;
    }
    
}
.dessert1111 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 75vh;
    font-size: 55px;
    position: relative;

    .dessert11 {
        @include flexSetUp(center, flex-end);
        background-size: cover;
        margin: 7px;
        background-color:rgba(7, 7, 7, 0.397);
        opacity: 1;
    }
    .dessert21 {
        @include flexSetUp(center, flex-end);
        background-size: cover;
        margin: 7px;
        background-color:rgba(7, 7, 7, 0.397);
        opacity: 1;
    }
    .dessert31 {
        @include flexSetUp(center, flex-end);
        background-size: cover;
        margin: 7px;
        background-color:rgba(7, 7, 7, 0.397);
        opacity: 1;
    }
    .dessert41 {
        @include flexSetUp(center, flex-end);
        background-size: cover;
        margin: 7px;
        background-color:rgba(7, 7, 7, 0.397);
        opacity: 1;
    }
    .dessert51 {
        @include flexSetUp(center, flex-end);
        background-size: cover;
        margin: 7px;
        background-color:rgba(7, 7, 7, 0.397);
        opacity: 1;
    }
    
}
    .dessert11:hover {
        opacity: 0;
    }
    .dessert21:hover {
        opacity: 0;
    }
    .dessert31:hover {
        opacity: 0;
    }
    .dessert41:hover {
        opacity: 0;
    }
    .dessert51:hover {
        opacity: 0;
    }

.top2 {
height: 80%;
}

.top {
    font-size: 42px;
}

.dev {
    font-family: 'Lobster', sans-serif;
    color: rgb(224, 222, 222);
    font-size: 62px;
    padding-top: 10px;
}

.fork {
    @include flexSetUp(center,center, row);
}

.Link-menu {
    text-decoration: none;
    color: rgb(214, 214, 214);
    width: 85%;
    height: 90%;
    border: 1px solid rgba(255, 255, 255, 0.555);
    margin-bottom: 25px;
    @include flexSetUp(center,flex-end);
}

#container {
    width: 100%;
    background-color: black;
}
 
/*photobanner*/
 
.first {
	-webkit-animation: bannermove 40s linear infinite;
	   -moz-animation: bannermove 40s linear infinite;
	    -ms-animation: bannermove 40s linear infinite;
	     -o-animation: bannermove 40s linear infinite;
	        animation: bannermove 40s linear infinite;
}
 
@keyframes bannermove {
 0% {
    margin-left: 400px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 400px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes bannermove {
 0% {
   margin-left: 400px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes bannermove {
 0% {
   margin-left: 400px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes bannermove {
 0% {
   margin-left: 400px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

.photobanner {
    overflow: scroll;
    display: flex;
}
 
.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
 
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.MenuDrinks {
    width:50%;
    height: 50%;
    float: left;
    background-image: url('https://imgur.com/Mo40cTn.jpg');
    background-size: cover;
    color: white;
    @include flexSetUp(center,center);
    text-decoration: none;
    outline: none;
}

.MenuAppetizers {
    width: 50%;
    height: 50%;
    float: right;
    background-image: url('https://imgur.com/ovZbjgd.jpg');
    background-size: cover;
    color: white;
    @include flexSetUp(center,center);
    text-decoration: none;
    outline: none;
}

.MenuEntrees {
    width: 50%;
    height: 50%;
    float: left;
    background-image: url('https://imgur.com/apTHTx5.jpg');
    background-size: cover;
    color: white;
    @include flexSetUp(center,center);
    text-decoration: none;
    outline: none;
}

.MenuDesserts {
    width: 50%;
    height: 50%;
    float: right;
    background-image: url('https://imgur.com/V3733e8.jpg');
    background-size: cover;
    color: white;
    @include flexSetUp(center,center);
    text-decoration: none;
    outline: none;
}

.MenuSpecials {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    @include flexSetUp(center,center);
    background-color: rgb(32, 32, 32);
    border-radius: 100px;
    font-size: 30px;
    letter-spacing: 5px;
    border: 1px solid white;
    text-decoration: none;
    outline: none;
}

.bottom-Menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    font-size: 42px;
    letter-spacing: 7px;
}

.top-Menu{
    width: 100%;
    height: 100vh;
    position:absolute;
    font-size: 42px;
    letter-spacing: 7px;
}

.MenuDrinks1 {
    width:50%;
    height: 50%;
    float: left;
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    @include flexSetUp(center,center);
    opacity: 1px;
    text-decoration: none;
    outline: none;
}

.MenuDrinks1:hover {
   background-color:transparent;
}

.MenuAppetizers1 {
    width: 50%;
    height: 50%;
    float: right;
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    @include flexSetUp(center,center);
    text-decoration: none;
    outline: none;
}

.MenuAppetizers1:hover {
    background-color:transparent;
 }

.MenuEntrees1 {
    width: 50%;
    height: 50%;
    float: left;
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    @include flexSetUp(center,center);
    text-decoration: none;
    outline: none;
}
.MenuEntrees1:hover {
    background-color:transparent;
 }

.MenuDesserts1 {
    width: 50%;
    height: 50%;
    float: right;
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    @include flexSetUp(center,center);
    text-decoration: none;
    outline: none;
}
.MenuDesserts1:hover {
    background-color:transparent;
 }
















.Menu-Appetizers {
    width: 100%;
    height: 550px;
    background-image:url('https://imgur.com/ksN47Xd.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: center;
    
    
    .appetizers-container {
        width: 40%;
        height: 70%;
        float: left;
        background-color: rgba(255, 255, 255, 0.534);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.459);
    }
    
    .appetizers-container2 {
        width: 30%;
        height: 30%;
        background-color:rgba(34, 33, 33, 0.575);
        float: right;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: white;
        font-size: 55px;
        letter-spacing: 7px;
        font-weight: lighter;
    }
}

.appetizers-div{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: rgba(255, 255, 255, 0.63);
    font-size: 14px;
    line-height: 20px;
}

.container-shadow {
    width: 100%;
    height: 260px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.432);
}

.bottom-div {
    height: 10px;
}

.Specials {
    background-color: rgba(0, 0, 0, 0.89);
}

.threecourse {
    margin-top: 10px;
    font-size: 34px;
    letter-spacing: 4px;
}

.appentdes {
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 18px;
}

.orderNow {
    border: 1px solid rgba(0, 0, 0, 0.411);
    padding: 10px 14px 10px 14px;
    font-size: 24px;
    letter-spacing: 3px;
    background-color: rgba(255, 255, 255, 0.490);
    color: rgba(0, 0, 0, 0.781);
    text-decoration: none;
}

