.Wrap-Menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100vh;
}

.dessert111 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    font-size: 55px;

    .dessert1 {
        @include flexSetUp(center, center);
        background-image: url('https://i.imgur.com/s2fvVxc.jpg');
        background-size: cover;
        margin: 10px;
    }

    .dessert2 {
        @include flexSetUp(center, center);
        background-image: url('https://imgur.com/ksN47Xd.jpg');
        background-size: cover;
        margin: 10px;
    }
    .dessert3 {
        @include flexSetUp(center, center);
        background-image: url('https://i.imgur.com/d7wVdrD.jpg?1');
        background-size: cover;
        margin: 10px;
    }
    .dessert4 {
        @include flexSetUp(center, center);
        background-image: url('https://imgur.com/ujnuFvf.jpg');
        background-size: cover;
        margin: 10px;
    }
    .dessert5 {
        @include flexSetUp(center, center);
        background-image: url('https://imgur.com/QPKquke.jpg');
        background-size: cover;
        margin: 10px;
    }
    
}


